<p-card styleClass="mb-3">
    <section class="grid grid-cols-1 md:grid-cols-2">
        <section class="flex flex-col items-center gap-3">
            <img src="./assets/josh_ruebusch_profile.png" alt="Joshua Ruebusch profile picture" class="w-64">
            <section class="flex flex-row gap-3 justify-between">
                <a class="text-blue-500" href="https://www.linkedin.com/in/joshua-ruebusch/">LinkedIn
                    <span><i class="pi pi-fw pi-linkedin"></i></span></a>
                <a class="text-blue-500" href="https://github.com/jwruebusch?tab=repositories">GitHub <span><i class="pi pi-fw pi-github"></i></span></a>
            </section>
        </section>
        <section>
            <h2 class="text-3xl mb-3">Joshua Ruebusch</h2>
            <p><span class="font-bold">Company:</span> Winsupply Inc.</p>
            <p><span class="font-bold">Title:</span> Developer Lead</p>
            <p><span class="font-bold">Location:</span> Dayton, Ohio</p>
            <p><span class="font-bold">Email:</span><span> jwruebusch<wbr>&#64;gmail.com</span></p>
        </section>
    </section>
</p-card>
<p-card class="w-full">
    <h2 class="text-3xl mb-3">
        About Me
    </h2>
    <article class="flex flex-col gap-3">
        <p>
            Hello!
        </p>
        <p>
            I’m an experienced Developer Lead with a focus on building and optimizing robust
            applications across diverse domains. With a strong background in Java/Spring backends and Angular
            frontends, I thrive on creating efficient, scalable, and user-friendly solutions that
            drive business success. I’m committed to high standards of code quality, prioritizing clean,
            maintainable, and performant code that’s easy to work with and evolve.
        </p>
        <p>
            In my current role, I oversee the development of purchasing systems that
            integrate seamlessly with our backend, ensuring they meet both technical
            and user requirements. I lead a talented team through every phase of the development
            lifecycle, from architecture and design to deployment and beyond. My work emphasizes
            creating a smooth and unified experience across our applications, prioritizing both
            robustness and responsiveness.
        </p>
        <p>
            Beyond technical skills, I’m passionate about fostering a collaborative,
            growth-oriented team environment where developers can innovate and excel.
            I believe that strong communication and a shared vision are key to delivering
            impactful software solutions.
        </p>
        <p>
            When I’m not coding, you’ll often find me exploring new technologies, exercising,
            or enjoying quality time with my family and our dog.
        </p>
        <p>
            I look forward to connecting and sharing how my skills and experience can
            help drive value in the future!
        </p>
    </article>
</p-card>
