<section class="container mx-auto px-4 py-20 md:py-32">
    <div class="max-w-4xl mx-auto">
        <div class="flex flex-col md:flex-row items-center gap-12">
            <div class="flex-1">
                <h1 class="text-4xl md:text-6xl font-bold mb-6 bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-blue-500">
                    Team Lead/Full-Stack Developer
                </h1>
                <p class="text-xl md:text-2xl text-gray-300 mb-8">
                    10+ years building scalable web applications with modern
                    technologies and helping others to grow!
                </p>
            </div>
            <div class="flex-shrink-0">
                <img src="./assets/josh_ruebusch_profile.png" alt="Joshua Ruebusch profile picture" class="w-64 rounded-full">
            </div>
        </div>
    </div>
</section>
