<section id="experience" class="pt-5">
    <h2 class="text-4xl font-bold text-center bg-transparent text-white mb-5">Work Experience</h2>
    <section id="work-experience" class="flex flex-col gap-10">
        <p-card styleClass="bg-black/20 backdrop-blur text-white md:text-2xl
                            border border-purple-900/30 rounded-xl hover:border-purple-500/50
                            transition-all p-6"
                class="w-full">
            <section class="job md:flex md:flex-row md:justify-between">
                <div class="job-title">
                    <h3 class="text-xl font-bold text-purple-400">Developer Lead</h3>
                    <div class="text-lg text-white">Winsupply Inc</div>
                </div>
                <div class="years">
                    <div class="text-lg text-gray-400">03/21 to Present</div>
                </div>
            </section>
            <section class="text-gray-300 text-lg">
                <ul class="px-5 list-disc list-outside marker:text-purple-400 space-y-2">
                    <li>
                        Architect and deploy applications for purchasing and inventory replenishment
                        using Angular (17+) and Java/Springboot (17+) with DB2 and MariaDB integrations
                    </li>
                    <li>
                        Modernize legacy IBMi applications to a modern tech stack, increasing system
                        efficiency and maintainability
                    </li>
                    <li>
                        Lead a team of 6 developers, providing direction and mentorship to junior and
                        intermediate team members
                    </li>
                    <li>
                        Conduct comprehensive code reviews on Github pull requests, ensuring code
                        quality and adherence to clean code principles
                    </li>
                    <li>
                        Manage project planning, leading discovery phases and design documentation
                        for new initiatives
                    </li>
                    <li>
                        Oversee administrative tasks, including reviewing and approving monthly
                        timesheets and team expenses
                    </li>
                    <li>
                        Facilitate monthly one-on-one meetings with team members to address
                        challenges and promote professional development
                    </li>
                    <li>
                        Perform annual performance reviews, setting goals and identifying areas for
                        improvement
                    </li>
                </ul>
            </section>
        </p-card>

        <p-card styleClass="bg-black/20 backdrop-blur text-white md:text-2xl
                            border border-purple-900/30 rounded-xl hover:border-purple-500/50
                            transition-all p-6">
            <section class="job md:flex md:flex-row md:justify-between">
                <div class="job-title">
                    <h3 class="text-xl font-bold text-purple-400">Senior Full Stack Developer</h3>
                    <div class="text-lg text-white">Winsupply Inc</div>
                </div>
                <div class="years">
                    <div class="text-lg text-gray-400">03/20 to 03/21</div>
                </div>
            </section>
            <section class="text-gray-300 text-lg">
                <ul class="px-5 list-disc list-outside marker:text-purple-400 space-y-2">
                    <li>
                        Led the development of Purchasing Domain applications using Angular and
                        Spring Boot
                    </li>
                    <li>
                        Collaborated with cross-functional teams to define project requirements and
                        deliverables
                    </li>
                    <li>
                        Improved application performance and scalability by optimizing code and
                        database queries
                    </li>
                    <li>
                        Provided guidance and support to junior developers on best practices and coding
                        standards
                    </li>
                    <li>
                        Assisted in the transition of legacy systems to modern architectures
                    </li>
                </ul>
            </section>
        </p-card>

        <p-card styleClass="bg-black/20 backdrop-blur text-white md:text-2xl
                            border border-purple-900/30 rounded-xl hover:border-purple-500/50
                            transition-all p-6">
            <section class="job md:flex md:flex-row md:justify-between">
                <div class="job-title">
                    <h3 class="text-xl font-bold text-purple-400">Intermediate Full Stack Developer</h3>
                    <div class="text-lg text-white">Winsupply Inc</div>
                </div>
                <div class="years">
                    <div class="text-lg text-gray-400">01/17 to 03/20</div>
                </div>
            </section>
            <section class="text-gray-300 text-lg">
                <ul class="px-5 list-disc list-outside marker:text-purple-400 space-y-2">
                    <li>
                        Developed and maintained web applications using Angular, JavaScript, and
                        Spring Boot
                    </li>
                    <li>
                        Participated in daily stand-ups and sprint planning as part of an Agile
                        development team
                    </li>
                    <li>
                        Implemented RESTful APIs and integrated third-party services
                    </li>
                    <li>
                        Conducted unit testing and debugging to ensure application reliability
                    </li>
                    <li>
                        Contributed to the design and implementation of user interfaces with a focus on
                        usability
                    </li>
                </ul>
            </section>
        </p-card>

        <p-card styleClass="bg-black/20 backdrop-blur text-white md:text-2xl
                            border border-purple-900/30 rounded-xl hover:border-purple-500/50
                            transition-all p-6">
            <section class="job md:flex md:flex-row md:justify-between">
                <div class="job-title">
                    <h3 class="text-xl font-bold text-purple-400">Junior Full Stack Developer</h3>
                    <div class="text-lg text-white">Winsupply Inc</div>
                </div>
                <div class="years">
                    <div class="text-lg text-gray-400">06/15 to 01/17</div>
                </div>
            </section>
            <section class="text-gray-300 text-lg">
                <ul class="px-5 list-disc list-outside marker:text-purple-400 space-y-2">
                    <li>
                        Developed and maintained OnBase LifeCycles using Workflow, WorkView and C# Unity scripts
                    </li>
                    <li>
                        Wrote and maintained code for both front-end and back-end components
                    </li>
                    <li>
                        Gained experience with SQL Server and database management
                    </li>
                    <li>
                        Participated in training sessions to learn new technologies and development
                        methodologies
                    </li>
                </ul>
            </section>
        </p-card>

        <p-card styleClass="bg-black/20 backdrop-blur text-white md:text-2xl
                            border border-purple-900/30 rounded-xl hover:border-purple-500/50
                            transition-all p-6">
            <section class="job md:flex md:flex-row md:justify-between">
                <div class="job-title">
                    <h3 class="text-xl font-bold text-purple-400">Bachelors of Computer Science</h3>
                    <div class="text-lg text-white">Miami University - Oxford, OH</div>
                </div>
                <div class="years">
                    <div class="text-lg text-gray-400">2009 to 2013</div>
                </div>
            </section>
        </p-card>
    </section>
</section>
