@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto', sans-serif;
  background-color: #e3e3f7;
  
  @media (max-width: 600px) {
    font-size: 1.8rem;
  }
}

/* Navigation bar styling */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Higher than background layers */
  background-color: rgba(255, 255, 255, 0.9); /* Optional: Slight background color for readability */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for a subtle effect */
}

