<p-card>
    <section class="flex flex-col gap-2">
        <h2 class="text-3xl mb-3">Work Experience</h2>
        <section class="job-title">
            <h3 class="text-xl font-bold">Developer Lead</h3>
            <div>Winsupply Inc</div>
            <section class="md:flex md:flex-row md:justify-between">
                <div>3110 Kettering Blvd, Dayton OH 45439</div>
                <div>03/21 to Present</div>
            </section>
        </section>
        <section class="job-description mb-5">
            <ul>
                <li>
                    Architect and deploy applications for purchasing and inventory replenishment
                    using Angular (17+) and Java/Springboot (17+) with DB2 and MariaDB integrations
                </li>
                <li>
                    Modernize legacy IBMi applications to a modern tech stack, increasing system
                    efficiency and maintainability
                </li>
                <li>
                    Lead a team of 6 developers, providing direction and mentorship to junior and
                    intermediate team members
                </li>
                <li>
                    Conduct comprehensive code reviews on Github pull requests, ensuring code
                    quality and adherence to clean code principles
                </li>
                <li>
                    Manage project planning, leading discovery phases and design documentation
                    for new initiatives
                </li>
                <li>
                    Oversee administrative tasks, including reviewing and approving monthly
                    timesheets and team expenses
                </li>
                <li>
                    Facilitate monthly one-on-one meetings with team members to address
                    challenges and promote professional development
                </li>
                <li>
                    Perform annual performance reviews, setting goals and identifying areas for
                    improvement
                </li>
            </ul>
        </section>

        <section class="job-title">
            <h3 class="text-xl font-bold">Senior Full Stack Developer</h3>
            <div>Winsupply Inc</div>
            <section class="md:flex md:flex-row md:justify-between">
                <div>3110 Kettering Blvd, Dayton OH 45439</div>
                <div>03/20 to 03/21</div>
            </section>
        </section>
        <section class="job-description mb-5">
            <ul>
                <li>
                    Led the development of Purchasing Domain applications using Angular and
                    Spring Boot
                </li>
                <li>
                    Collaborated with cross-functional teams to define project requirements and
                    deliverables
                </li>
                <li>
                    Improved application performance and scalability by optimizing code and
                    database queries
                </li>
                <li>
                    Provided guidance and support to junior developers on best practices and coding
                    standards
                </li>
                <li>
                    Assisted in the transition of legacy systems to modern architectures
                </li>
            </ul>
        </section>

        <section class="job-title">
            <h3 class="text-xl font-bold">Intermediate Full Stack Developer</h3>
            <div>Winsupply Inc</div>
            <section class="md:flex md:flex-row md:justify-between">
                <div>3110 Kettering Blvd, Dayton OH 45439</div>
                <div>01/17 to 03/20</div>
            </section>
        </section>
        <section class="job-description mb-5">
            <ul>
                <li>
                    Developed and maintained web applications using Angular, JavaScript, and
                    Spring Boot
                </li>
                <li>
                    Participated in daily stand-ups and sprint planning as part of an Agile
                    development team
                </li>
                <li>
                    Implemented RESTful APIs and integrated third-party services
                </li>
                <li>
                    Conducted unit testing and debugging to ensure application reliability
                </li>
                <li>
                    Contributed to the design and implementation of user interfaces with a focus on
                    usability
                </li>
            </ul>
        </section>

        <section class="job-title">
            <h3 class="text-xl font-bold">Junior Full Stack Developer</h3>
            <div>Winsupply Inc</div>
            <section class="md:flex md:flex-row md:justify-between">
                <div>3110 Kettering Blvd, Dayton OH 45439</div>
                <div>06/15 to 01/17</div>
            </section>
        </section>
        <section class="job-description mb-5">
            <ul>
                <li>
                    Developed and maintained OnBase LifeCycles using Workflow, WorkView and C# Unity scripts
                </li>
                <li>
                    Wrote and maintained code for both front-end and back-end components
                </li>
                <li>
                    Gained experience with SQL Server and database management
                </li>
                <li>
                    Participated in training sessions to learn new technologies and development
                    methodologies
                </li>
            </ul>
        </section>

        <section class="job-title mb-5">
            <h3 class="text-xl font-bold">Education</h3>
            <div>Bachelors of Computer Science</div>
            <section class="md:flex md:flex-row md:justify-between">
                <div>Miami University - Oxford, OH</div>
                <div>2009 to 2013</div>
            </section>
        </section>

        <section class="job-title">
            <h3 class="text-xl font-bold">Skills</h3>
        </section>
        <section class="job-description">
            <ul>
                <li>
                    <span class="font-bold">Programming Languages & Frameworks:</span> Java, JavaScript, TypeScript, C#,
                    Angular, Spring Boot, Tailwind, Bootstrap, CSS, SCSS
                </li>
                <li>
                    <span class="font-bold">Tools & Technologies:</span> Git, APIs, JSON, REST, Gradle, JDBC, JPA, Hibernate
                </li>
                <li>
                    <span class="font-bold">Development Practices:</span> Application Development, User Interface (UI), Unit
                    Testing, Test Driven Development, Agile, Jira, Micro Services
                </li>
                <li>
                    <span class="font-bold">Languages:</span> English (native), Portuguese (conversational)
                </li>
            </ul>
        </section>

    </section>
</p-card>
